<div id="gold-sponsors" class="sponsor-block">
  <div class="heading">Gold Sponsors</div>
  <ul>
    <li><a target="sponsor" href="http://www.novus.com"><img src="/img/novus.png" title="Novus Partners" class="sponsor-icon"></a></li>
  </ul>
</div>

<div id="silver-sponsors" class="sponsor-block">
  <div class="heading">Silver Sponsors</div>

  <ul>
    <li><a target="sponsor" href="http://www.google.com"><img src="/img/google.png" title="Google" class="sponsor-icon"></a></li>
    <li><a target="sponsor" href="http://www.github.com"><img src="/img/github.png" title="Github" class="sponsor-icon"></a></li>
    <li><a target="sponsor" href="http://typesafe.com"><img src="/img/typesafe.png" title="Typesafe" class="sponsor-icon"></a></li>
  </ul>

</div>

<div id="bronze-sponsors" class="sponsor-block">
  <div class="heading">Bronze Sponsors</div>

  <ul>
    <li><a target="sponsor" href="http://combinatory.net"><img src="/img/combinatory-solutions.png" class="sponsor-icon" title="Combinatory Solutions, Inc."></a></li>
    <li><a target="sponsor" href="http://www.ardentex.com"><img src="/img/ardentex.png" class="sponsor-icon" title="ArdenTex, Inc."></a></li>
  </ul>

</div>


