
<div id="monthly-sponsors" class="sponsor-block">
  <div class="heading">Monthly Sponsors</div>
</div>


<div id="yearly-sponsors" class="sponsor-block">
  <div class="heading">Annual Sponsors</div>
  <ul>
    <li><a target="sponsor" href="http://www.chariotsolutions.com/"><img src="/sponsor-logos/ChariotSolutions.png" class="sponsor-icon" title="Charikot Solutions"></a></li>
    <li><a target="sponsor" href="http://www.dhondt-teams-gel.com/"><img src="/sponsor-logos/dhondt-teams-gel.png" class="sponsor-icon" title="Dhondt Teams Gel, LLC"></a></li>
    <li><a target="sponsor" href="http://www.ardentex.com"><img src="/sponsor-logos/ardentex.png" class="sponsor-icon" title="ArdenTex, Inc."></a></li>
  </ul>
</div>
