
<div id="monthly-sponsors" class="sponsor-block">
  <div class="heading">Monthly Sponsors</div>
</div>


<div id="yearly-sponsors" class="sponsor-block">
  <div class="heading">Annual Sponsors</div>
  <ul>
    <li><a target="sponsor" href="http://www.gearstream.com/"><img src="/sponsor-logos/GearStream.jpg" class="sponsor-icon" title="Gear Stream"></a></li>
    <li><a target="sponsor" href="http://www.chariotsolutions.com/"><img src="/sponsor-logos/ChariotSolutions.png" class="sponsor-icon" title="Chariot Solutions"></a></li>
    <li><a target="sponsor" href="http://www.dhondt-teams-gel.com/"><img src="/sponsor-logos/DTG_logo.jpg" class="sponsor-icon" title="Dhondt Teams Gel, LLC"></a></li>
    <li><a target="sponsor" href="http://www.ardentex.com"><img src="/sponsor-logos/ardentex.png" class="sponsor-icon" title="ArdenTex, Inc."></a></li>
    <li><a target="sponsor" href="http://www.phila.gov/"><img src="/sponsor-logos/Philly.png" class="sponsor-icon" title="City of Philadelphia"></a></li>
  </ul>
</div>
