<!DOCTYPE html>

<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }}</title> 

<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"> 
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery.tableofcontents.min.js" type="text/javascript"></script>

{% include bootstrap.js.html %}

{% if page.generate_toc %}
<script type="text/javascript" src="/js/generate-toc.js"></script>
{% endif %}

</head> 

<body>
  {% include navbar.html %}
  <!-- 
    NOTE: Any div-based styling should be done on DIVs that are nested INSIDE
          the Twitter Bootstrap DIVs.
  -->
  <div class="container-fluid" id="main-content">
    <div class="row-fluid">

        <!--
          WARNING: If you change the following "span3" or the "span9" on
                   #page-content, you MUST change the appropriate fixed sidebar
                   values in sass/styles-2012.scss
        -->
        <div class="span3">
          <div id="sponsors-sidebar">
          {% include sponsors.html %}
          </div>
        </div>

        <div class="span9">
          <div id="page-content">

            <div id="page-title">{{ page.title }}</div>
        
            <div id="main">
            {{ content }}
            </div> 
          </div> <!-- page-content -->
        </div> <!-- span10 -->

    </div> <!-- row-fluid -->
    
    {% if page.generate_toc %}
      <script type="text/javascript">
      {% if page.toc_header and (page.toc_header != 'none') %}
        var heading = "{{ page.toc_header }}"
      {% else %}
        var heading = null;
      {% endif %}
        $(document).ready(function() {
          generateTOC('#main', heading);
        });
      </script>
    {% endif %}
  </div> <!-- container -->
</div>

</body>
</html>
